body{
    background-color: rgb(161, 17, 17);
    font-family: 'roboto', Arial, sans-serif;
    color: rgb(196, 196, 196);
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro-screen{
    background-image: url("images/background.png");
}

button{
    background-color: darkgrey;
    color: rgb(161, 17, 17);
    padding: 20px;
    border-radius: 5px;
}

#game-screen{
    display: none;
}
#game-board{
    background-image: url("images/background.png");
    width: fit-content;
    height: fit-content;
    background-size: cover;
    display: grid;
}

.cell{
    width: 50px;
    height: 50px;

}

.wall{
    background-image: url("images/wall.png");
    background-size: cover;
}

.player{
    background-image: url("images/player.png");
    background-size: cover;
}

.monster{
    background-image: url("images/hornmonster.png");
    background-size: cover;
}

.bullet{
    background-color: rgb(81, 255, 246);
    border-radius: 50%;
    animation: fadeOut 0.5s ease-out;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

#score-board{
    color: rgb(0, 255, 242);
    font-size: 20px
}